*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    /* width: 100%; */
}

body{
    min-height: 100vh;
    margin:0;
    font-family: 'prompt', sans-serif;
    color: black;
    background: #d1ffbd4b;
    overflow-x: hidden;
}

.header{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: #083600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.navbar a{
    position: relative;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .3s;
}

.navbar a:hover::before{
    width: 100%;
}

section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px;
}

.section1::after{
    content: '';
    /* border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%; */
    border-bottom-left-radius: 80% 100%;
    border-bottom-right-radius: 80% 100%;
    position: absolute;
    bottom: 0;
    height: 100vh;
    width: 110vw;
    background-color: #083600;
    z-index: -1;
}
.section1 h1{
    margin-top: 10%;
    margin-bottom: 5%;
    font-size: 150px;
    font-family: optima;
    text-align: center;
    color: #FFAF1C;
}
.section1 p{
    font-size: 20px;
    font-family: optima;
    text-align: center;
    color:white;
}

button{
    margin-top: 30px;
    margin-bottom: 10%;
    display: flex;
    align-self: center;
    justify-content: space-between;
    gap: .5rem;
    padding: 1rem  2.5rem;
    border: none;
    border-radius: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    position: relative;
    overflow: hidden;
  
    & span{
      z-index: 3;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-family: optima;
    }
  
    & .icon{
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-left: .5rem;
      z-index: 3;
  
      & svg{
        fill: #000;
      }
    } 
  
    & .overlay{
      position: absolute;
      display: block;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background-color: #FFAF1C;
      z-index: 1;
      clip-path: circle(12% at 82.5% 49%);
      transition: all .5s ease-in;
    }
    
    &:hover{
      cursor: pointer;
  
      & .overlay{
        clip-path: circle(120% at 76% 49%);
       }
    }
}

.section2 h1{
    font-family: optima;
    font-size: 100px;
    text-align: center;
    margin-bottom: 10%;
}
.section2 h2{
    font-family: optima;
    font-size: 30px;
    text-align: center;
}
.section2 p{
    font-family: optima;
    text-align: center;
}
.section2 .row{
    width: 100%;
    display: flex;
    flex-direction: clumn;
    gap: 1rem;
}
.section2 .row .column{
    flex:1;
    align-items: center; /* Center horizontally */
    text-align: center; /* Center text */
}
.section2 img{
    max-width: 50%;
    height: auto;
}



.section3{
    background-color: white;
    transition: background-color 0.5s ease;
}
.section3 h1{
    font-family: optima;
    font-size: 100px;
    margin-bottom: 5%;
    margin-top: 10%;
    text-align: center;
}
.flex-container {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    align-items: stretch;
}
.flex-container > div {
    border-radius: 15px;
    width: 250px;
    background-color: #FFAF1C;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    font-family: optima;
    text-align: center;
    display: flex; 
    justify-content: center; 
    align-items: center;
    min-height: 150px;
    background-image: url('./serviceBackground.jpeg');
    color: white;
    transition: transform 0.5s;
}
.flex-container div:hover{
    color: #FFAF1C;
    transform: translateY(-5px);
}
.btn2{
    margin-top: 5%;
    margin-bottom: 20%;

    & .overlay{
        position: absolute;
        display: block;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: #FFAF1C;
        z-index: 1;
        clip-path: circle(10% at 85.5% 48%);
        transition: all .5s ease-in;
    }
}
.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
.wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 228px;
}
.wave .shape-fill {
    fill: #d1ffbd4b;
}
.wave2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}
.wave2 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 181px;
    transform: rotateY(180deg);
}
.wave2 .shape-fill {
    fill: #d1ffbd;
}

.section4{
    background-color: #d1ffbd;
    /* background-image: url('./BanyanTree.webp');
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: cover; */
}
.section4 h1{
    font-family: optima;
    font-size: 100px;
    margin-top: 0;
    text-align: center;
}
.container{
    margin: 150px auto;
    width: 100%;
    display: flex;
}
.text-box{
    flex: 1;
    color: black;
    width: 50%;
}
.text-box h2{
    font-family: optima;
    font-size: 35px;
    margin-bottom: 7%;
}
.text-box p{
    font-family: optima;
    font-size: 20px;
}
.container > img{
    flex: 1;
    width: 50%;
    margin-left: 5%;
}

.section5{
    background-color: #d1ffbd4b;
}
.section5 h1{
    margin-top: 15%;
    margin-bottom: 5%;
    font-family: optima;
    font-size: 100px;
    color: black;
    text-align: center;
}
.wave3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
.wave3 svg {
    position: relative;
    display: block;
    width: calc(175% + 1.3px);
    height: 167px;
}
.wave3 .shape-fill {
    fill: #d1ffbd;
}
.flex-container2 {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    align-items: stretch;
    margin-bottom: 15%;
}
.flex-container2 > div {
    border-radius: 15px;
    width: 700px;
    background-color: white;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    /* text-align: center; */
    display: flex; 
    /* justify-content: center; 
    align-items: center; */
    color: black;
    height: auto;
}
.wrapper{
    margin: 150px auto;
    width: 70%;
}
.text-box{
   color: black;
   width: 50%;
}
.text-box h2{
    font-family: optima;
    font-size: 35px;
    margin-bottom: 7%;
}
.text-box p{
    font-family: optima;
    font-size: 20px;
}
.wrapper > img{
    width: 50%;
    max-width: 320px;
    float: left;
    border: 3px solid #fff;
    border-radius: 10px;
    margin-right: 15px;
}
.wave4 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}
.wave4 svg {
    position: relative;
    display: block;
    width: calc(103% + 1.3px);
    height: 215px;
    transform: rotateY(180deg);
}
.wave4 .shape-fill {
    fill: #083600;
}


.section6{
    background-color: #083600;
}
.section6 h1{
    color: #FFAF1C;
    font-size: 100px;
}

.footer{
    background-color: #083600;
    padding: 70px 0;
    line-height: 1.5;
}
.footer-container{
    max-width: 1170px;
    margin: auto;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer h4{
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.footer h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #FFAF1C;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
ul{
    list-style: none;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}

/* @media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width: 574px){
    .footer-col{
        width: 100%;
    }
} */




.spacer{
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1{
    background-image: url('./layer1.svg');
}